# Seattle Open City Data

In this notebook, we'll connect to a few open datasets for Seattle using the SODA API. We'll cover filtering and querying with the SODA API, and then eventually use Plotly to plot some key findings.

## Imports

In [1]:
import pandas as pd
import requests

## Create a function to connect to city data and store in dataframe

In [11]:
def open_data_to_df(url, params=None):
    """ Input url and convert to Pandas dataframe"""
    request_object = requests.get(url, params)
    request_object_json = request_object.json()
    return pd.DataFrame([entry for entry in request_object_json])

___

### City of Seattle Wage Data
City Business: City of Seattle Wage Data: https://data.seattle.gov/City-Business/City-of-Seattle-Wage-Data/2khk-5ukd

https://data.seattle.gov/resource/ssah-h43e.json

Question: Which department has the higest/lowest average hourly rate?

In [12]:
wages_url = 'https://data.seattle.gov/resource/ssah-h43e.json'
seattle_wages = open_data_to_df(wages_url)
seattle_wages.head()

          department first_name hourly_rate           job_title last_name
0  Police Department        Dag       50.38  Pol Ofcr-Detective  Aakervik
1  Police Department     George       48.86      Pol Ofcr-Patrl      Abed
2  Police Department    Clayton       48.86      Pol Ofcr-Patrl     Agate
3  Police Department       John       46.68      Pol Ofcr-Patrl     Allen
4  Police Department      Chris       48.86      Pol Ofcr-Patrl  Anderson

### Crime Data
Public Safety, Crime data: https://data.seattle.gov/Public-Safety/Crime-Data/4fs7-3vj5

API: https://data.seattle.gov/resource/xurz-654a.json

Question: Which neighborhoods have the most violent crime or largest amount of reported crime?

In [13]:
crime_url = 'https://data.seattle.gov/resource/xurz-654a.json'
seattle_crime = open_data_to_df(crime_url)
seattle_crime.head()

,beat,crime_description,crime_subcategory,go_number,neighborhood,occ_datetime,occ_time,precinct,reported_date,reported_time,sector
0,G2,DUI-LIQUOR,DUI,20080000465209,CENTRAL AREA/SQUIRE PARK,1908-12-13T00:00:00.000,2114,EAST,2008-12-13T00:00:00.000,2114,G
1,Q2,CHILD-OTHER,FAMILY OFFENSE-NONVIOLENT,20100000202011,QUEEN ANNE,1964-06-15T00:00:00.000,0,WEST,2010-06-15T00:00:00.000,1031,Q
2,N2,SEXOFF-OTHER,SEX OFFENSE-OTHER,2012000023437,NORTHGATE,1973-01-01T00:00:00.000,0,NORTH,2012-01-25T00:00:00.000,1048,N
3,NaN,SEXOFF-OTHER,SEX OFFENSE-OTHER,20130000327785,UNKNOWN,1974-06-01T00:00:00.000,0,UNKNOWN,2013-09-09T00:00:00.000,1117,NaN
4,NaN,SEXOFF-OTHER,SEX OFFENSE-OTHER,20160000289384,UNKNOWN,1975-01-01T00:00:00.000,0,UNKNOWN,2016-08-11T00:00:00.000,1054,NaN

### Operating Budget
City of Seattle Operating Budget: https://data.seattle.gov/dataset/City-of-Seattle-Operating-Budget/8u2j-imqx

API: https://data.seattle.gov/resource/4fzy-5niz.json

Question: What is the annual operating budget for the city of Seattle? Where do they spend the most money?

In [14]:
budget_url = 'https://data.seattle.gov/resource/4fzy-5niz.json'
seattle_budget = open_data_to_df(budget_url)
seattle_budget.head()

,approved_amount,department,description,expense_category,expense_type,fiscal_year,fund,fund_type,program,recommended_amount,service
0,NaN,2008 Parks Levy,2008 Parks Levy Fund Program,2008 Parks Levy Fund Program,Operating Expense,2013,General Fund,Tax-Supported Fund,2008 Parks Levy Fund BCL-1,0,"Arts, Culture & Recreation"
1,0,2008 Parks Levy,Support to Multi-Purpose Trails,Support to Multi-Purpose Trails,Operating Expense,2011,General Fund,Tax-Supported Fund,Support to Multi-Purpose Trails,0,"Arts, Culture & Recreation"
2,3500000,2008 Parks Levy,Support to Multi-Purpose Trails,Support to Multi-Purpose Trails,Operating Expense,2010,General Fund,Tax-Supported Fund,Support to Multi-Purpose Trails,0,"Arts, Culture & Recreation"
3,13139976,2012 Library Levy,Library Levy Operating Transfer,Library Levy Operating Transfer,Operating Expense,2015,General Fund,Tax-Supported Fund,Library Levy Operating Transfer,0,"Arts, Culture & Recreation"
4,12421257,2012 Library Levy,Library Levy Operating Transfer,Library Levy Operating Transfer,Operating Expense,2014,General Fund,Tax-Supported Fund,Library Levy Operating Transfer,0,"Arts, Culture & Recreation"

## 3 Ways to Filter SODA API results
- Adding to the end of URL with ? and & to separate additional filters
- Using SoQL
- Using a payload to separate the filters into a highly readable dictionary

### Payload example

We can filter the results in a few ways. One is by adding '?<column_name>=<value>' to the end of the URL. Another way is to separate the filter in a dictionary, and then pass that dictionary to requests.get.

In [15]:
payload = {'first_name': 'George', 'department': 'Police Department'}

# Pass the payload as the second argument to the function
seattle_wages_payload = open_data_to_df(wages_url, params=payload)
seattle_wages_payload.head()

,department,first_name,hourly_rate,job_title,last_name
0,Police Department,George,48.86,Pol Ofcr-Patrl,Abed
1,Police Department,George,55.95,Pol Sgt-Detective-Homicide,Davisson II
2,Police Department,George,49.29,Pol Ofcr-Patrl,Hissung Jr
3,Police Department,George,81.63,Pol Lieut,Bray Jr
4,Police Department,George,35.97,Parking Enf Ofcr Supv,Murray